h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.article-image {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.category-item {
    background-color: #f1f2f6;
    padding: 70px;
}

.category-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
}

.category-item a:hover {
    color: #778ca3;
    text-decoration: none;
}
