<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="SocioDev, développemt web et gestion de projets.">
        <meta name="author" content="Boubacar Diarra, développeur backend PHP et Symfony">
        <title>{% block title %}Accueil{% endblock %} - Sociodev</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% include "partials/navbar.html.twig" %}
        
        {% include "partials/flashes.html.twig" %}

        {% block body %}{% endblock %}

        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
